html
	head
		title SMB ROMs
		link(rel='stylesheet' href='bootstrap-3.3.7-dist/css/bootstrap.min.css')
		script(src='jquery-3.2.1.min.js')
		script(src='bootstrap-3.3.7-dist/js/bootstrap.min.js')
	body
		.container
			h1 Select your ROM
			
			.col-xs-4
				a.btn.btn-primary(href='/practice') SMB Practice ROM
			.col-xs-4
				a.btn.btn-primary(href='/smbfpg.nes') Flag-pole glitch ROM
